<section class='main__section main__section--mobile'>

    <div class='slideout__menu'>
        <h4 class='slideout__menu__header'>Lotte Stekelenburg</h4>
        <div class='slideout__menu__body'>
            {{#with about}}
                {{{text}}}
            {{/with}}
        </div>
    </div>

    <div class='main__section__body slideout__panel'>

        {{!-- <div class='slideout__toggle'></div> --}}

        <img class='slideout__toggle' src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KCgo8IS0tIFRoZSBpY29uIGN
hbiBiZSB1c2VkIGZyZWVseSBpbiBib3RoIHBlcnNvbmFsIGFuZCBjb21tZXJjaWFsIHByb2plY3
RzIHdpdGggbm8gYXR0cmlidXRpb24gcmVxdWlyZWQsIGJ1dCBhbHdheXMgYXBwcmVjaWF0ZWQuI
ApZb3UgbWF5IE5PVCBzdWItbGljZW5zZSwgcmVzZWxsLCByZW50LCByZWRpc3RyaWJ1dGUgb3Ig
b3RoZXJ3aXNlIHRyYW5zZmVyIHRoZSBpY29uIHdpdGhvdXQgZXhwcmVzcyB3cml0dGVuIHBlcm1
pc3Npb24gZnJvbSBpY29ubW9uc3RyLmNvbSAtLT4KCgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS
8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvM
S4xL0RURC9zdmcxMS5kdGQiPgoKPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3
LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGx
pbmsiIHg9IjBweCIgeT0iMHB4IgoKCSB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZX
dCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4b
Ww6c3BhY2U9InByZXNlcnZlIj4KCjxwYXRoIGZpbGw9IndoaXRlIiBpZD0iaW5mby00LWljb24i
IGQ9Ik0yNTUuOTk4LDUwLjAwMUMxNDIuMjI5LDUwLjAwMSw1MCwxNDIuMjI5LDUwLDI1NS45OTl
jMCwxMTMuNzcxLDkyLjIyOSwyMDYsMjA1Ljk5OCwyMDYKCgljMTEzLjc3MSwwLDIwNi4wMDItOT
IuMjI5LDIwNi4wMDItMjA2QzQ2MiwxNDIuMjI5LDM2OS43Nyw1MC4wMDEsMjU1Ljk5OCw1MC4wM
DF6IE0yNjEuMDUxLDEyMi43ODEKCgljMTguNDkxLDAsMzMuNDc5LDE0Ljk5MSwzMy40NzksMzMu
NDc5YzAsMTguNDktMTQuOTg3LDMzLjQ4LTMzLjQ3OSwzMy40OGMtMTguNDg5LDAtMzMuNDc5LTE
0Ljk5LTMzLjQ3OS0zMy40OAoKCUMyMjcuNTcyLDEzNy43NzIsMjQyLjU2MiwxMjIuNzgxLDI2MS
4wNTEsMTIyLjc4MXogTTMyMC41NzcsMzc1LjUzN0gyMDguNDUydi0xNC42OGwxNC4wNDMtNS4xN
zcKCgljNy44Ni0yLjg5OCwxMy4wODItMTAuMzg4LDEzLjA4Mi0xOC43NjZWMjU3Ljc1YzAtOC4z
NzgtNS4yMjItMTUuODY4LTEzLjA4Mi0xOC43NjZsLTE0LjA0My01LjE3N3YtMTUuMDAyaDg0Ljk
3M1YzMzYuOTEKCgljMCw4LjM4LDUuMjI1LDE1Ljg3MSwxMy4wODgsMTguNzY4bDE0LjA2NCw1Lj
E4VjM3NS41Mzd6Ii8+Cgo8L3N2Zz4=">

        <section>
            <h2 class='main__section__body__header'>Recent Notes</h2>
           {{#each archive.items}}
                {{> helpers/notes/article}}
            {{/each}}
        </section>

        <section>
            <h2 class='main__section__body__header'>Recent Albums</h2>

            <article class="photo" id="ls-tropicana-23-12-13-06">
                    <picture class="picture">
                        <img src="http://localhost/new/assets/photos/LS_Tropicana_23-12-13_06.jpg" width="2000" height="1331" alt="1" class="picture__image">
                        <figcaption class="picture__caption">
                            1
                        </figcaption>
                    </picture>
            </article>                                            
            <article class="photo" id="ls-tropicana-23-12-13-20">
                    <picture class="picture">
                        <img src="http://localhost//new/assets/photos/LS_Tropicana_23-12-13_20.jpg" width="1331" height="2000" alt="2" class="picture__image">
                        <figcaption class="picture__caption">
                            2
                        </figcaption>
                    </picture>
            </article>                                            
            <article class="photo" id="ls-tropicana-23-12-13-24">
                    <picture class="picture">
                        <img src="http://localhost//new/assets/photos/LS_Tropicana_23-12-13_24.jpg" width="2000" height="1331" alt="3" class="picture__image">
                        <figcaption class="picture__caption">
                            3
                        </figcaption>
                    </picture>
            </article>                                            
            <article class="photo" id="ls-tropicana-23-12-13-27">
                    <picture class="picture">
                        <img src="http://localhost//new/assets/photos/LS_Tropicana_23-12-13_27.jpg" width="2000" height="1331" alt="4" class="picture__image">
                        <figcaption class="picture__caption">
                            4
                        </figcaption>
                    </picture>
            </article>                                            
            <article class="photo active" id="ls-tropicana-23-12-13-26">
                    <picture class="picture">
                        <img src="http://localhost//new/assets/photos/LS_Tropicana_23-12-13_26.jpg" width="2000" height="1331" alt="5" class="picture__image">
                        <figcaption class="picture__caption">
                            5
                        </figcaption>
                    </picture>
            </article>                                            
            <article class="photo" id="ls-tropicana-23-12-13-22">
                    <picture class="picture">
                        <img src="http://localhost//new/assets/photos/LS_Tropicana_23-12-13_22.jpg" width="2000" height="1331" alt="6" class="picture__image">
                        <figcaption class="picture__caption">
                            6
                        </figcaption>
                    </picture>
            </article>                                            
            <article class="photo" id="ls-tropicana-23-12-13-07">
                    <picture class="picture">
                        <img src="http://localhost//new/assets/photos/LS_Tropicana_23-12-13_07.jpg" width="2000" height="1331" alt="7" class="picture__image">
                        <figcaption class="picture__caption">
                            7
                        </figcaption>
                    </picture>
            </article>                                            
            <article class="photo" id="ls-tropicana-23-12-13-36">
                    <picture class="picture">
                        <img src="http://localhost//new/assets/photos/LS_Tropicana_23-12-13_36.jpg" width="1331" height="2000" alt="8" class="picture__image">
                        <figcaption class="picture__caption">
                            8
                        </figcaption>
                    </picture>
            </article>                                    
        </section>


    </div>

</section>