.archive{
	width: (4 * emRhythm($archive-item-em-size)) + emRhythm($archive-item-em-margin);
	float: right;
	position: relative;
	right: -4px;

	.archive__list{
		display: inline-block;
		text-align: right;

		> .archive__list__item{
			@include box-style();
			@include setType(3, $ms-down1);

			display: none;
			vertical-align: top;
			background-color: white;
			color: black;
			position: relative;
			margin-bottom: emRhythm(8);
			margin-left: emRhythm($archive-item-em-margin);
			position: relative;
			width: emRhythm($archive-item-em-size);
			height: emRhythm($archive-item-em-size);

			&:before{
				@include setType(1, $ms-down1);

				content: attr(data-date);
				display: block;
				position: absolute;
				top: -(emRhythm(2.5));
				left: 0;
				color: white;
			}

			&:hover,
			&.active{
				color: white;
			}

			> .archive__list__item__link{
				@include box-padding();

				display: block;
				text-decoration: none;
				color: inherit;
				text-align: left;
				word-wrap: break-word;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}
	}
}