$padding-bottom: emRhythm(3);

.js{

	.article{
		opacity: 0.4;
		cursor: pointer;
		display: none;
		transition: opacity $transition-duration, top $transition-duration;

		&:hover,
		&.active{
			opacity: 1;
			cursor: default;
		}

		&:not(.active):hover{
			cursor: pointer;
		}
	}
}

.article{
	@include box-style(2);

	padding-bottom: $padding-bottom;
	text-align: left;
	background-color: white;
	color: $text-color-dark;
	overflow: hidden;
	margin-right: 6px;
	position: relative;
	max-width: 80em;
	top: 0;
	user-select: none;

	.article__header{
		margin-bottom: emRhythm($base-line-multi);
		cursor: pointer;

		> .article__header__title{
			@include setType($base-line-multi, $ms-up1);
		}

		> .article__header__date{
			@include setType($base-line-multi, $ms-down1);
		}
	}

	.article__body{
		position: relative;
		width: auto;
		display: block;

		@include text-link();
	}

	> .article__visual{
		float: right;
		width: 40%;
		margin: - emRhythm(6) emRhythm(1) emRhythm(1) emRhythm(6);

		> .article__visual__image{
			width: 100%;

			&.unloaded{
				height: 250px;
			}
		}
	}

	.article__footer{
		background: transparent;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: $padding-bottom;
		cursor: pointer;
	}
}