.filter{
	@include setType($base-line-multi, $ms-up1);

	.filter__header{
		margin-bottom: emRhythm(1.5);
		display: inline-block;
		font-weight: bold;
		position: relative;

		@include horizontal-dash();
	}

	.filter__list{

		> .filter__list__item{
			display: inline-block;

			@include vertical-dash();
			@include link();

			> .filter__list__item__link{
				@include setLeading(3);

				display: inline-block;
			}
		}
	}
}