$main-content-nav-width: 150px;

.main__section{

	&.main__section--content{
		width: auto;
		display: block;
		overflow: hidden;

		// compensate for the .main padding so the .main__section__body__content__scroll is not clipped
		top: - emRhythm(4);
		padding-top: emRhythm(4);

		.main__section__header{
			margin-left: $main-content-nav-width;
			position: relative;
			z-index: 1;
		}

		.main__section__header__nav{
			float: left;
			margin-top: emRhythm(3);
			margin-left: -$main-content-nav-width;
			display: none;


			.list{
				&:last-child{
					margin-bottom: 0;
				}
				
				.list__category{
					display: none;
					margin-bottom: emRhythm(6);

					&[data-length="1"]{
						display: none !important;
					}

					&.show{
						display: block;
					}
				}

				.list__item{
					@include link();

					display: block;

					> a{
						@include setLeading($base-line-multi);
						display: block;
					}
				}

				.list__link{
					max-width: 12em;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.main__section__body__content{
			position: relative;
			width: auto;
			overflow: hidden;
			margin-left: $main-content-nav-width;

			// hackeroo..
			transform: translateZ(0);
		}

		.main__section__body__content__scroll{

			.section{

				&[data-section="intro"]{

					.photo{
						img{
							max-height: 600px;
						}
					}
				}

				&.hide{
					display: none;
				}

				> article{
					margin-bottom: emRhythm(17);
				}
			}
		}
	}

}