.main__section{

	&.main__section--mobile{
		padding: 0;
		display: none;
		font-size: 120%;
		color: white;

		.main__section__header{
			margin: 0;
			position: relative;
			margin-bottom: emRhythm(1);
		}

		.main__section__body{
			overflow: auto;
			height: 100%;

			.main__section__body__header{
				margin: emRhythm(1) 0 emRhythm(2) 0;
				font-size: 150%;
			}

			.photo{
				margin: 0 0 emRhythm(2) 0;

				.picture__image{
					max-height: none;
				}

				.picture__caption{
					position: relative;
				}
			}

			.article{
				display: block;
				opacity: 1;
				margin: 0 0 emRhythm(6) 0;
				max-height: none;

				.article__visual{
					float: left;
					margin: 0 emRhythm(2) emRhythm(2) 0;
				}

				.article__body{
					max-height: none;
					overflow: visible;
				}
			}
		}

	}
}



// https://github.com/mango/slideout#usage
.slideout__toggle{
	position: relative;
	cursor: pointer;
	margin-top: emRhythm(1);
	margin-bottom: emRhythm(2);

	@include hamburger(2em);
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  background-color: #1D1F20;
  background-image: linear-gradient(145deg, #1D1F20, #404348);
  padding: emRhythm(2);
}

.slideout__menu__header{
	margin-bottom: emRhythm(2);
	font-size: 150%;
}

.slideout__menu__body{
	a{
		color: inherit;
	}
}

.slideout-panel {
  position:relative;
  z-index: 1;
  background: $background-color;
  padding: emRhythm(2);
}

.slideout-open,
.slideout-open body {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
