.main__section{

	&.main__section--mobile{
		padding: 0;
		display: none;
		font-size: 120%;
		color: white;

		.slideout__toggle{
		    display: inline-block;
		    vertical-align: middle;
		    width: 2em;
		    margin-right: 0;
		    float: right;
		    margin-top: .4em;
		}

		.slideout__toggle-close{
			display: none;
		}

		.main__section__body__title,
		.main__section__body__sub-title{
			display: inline-block;
			vertical-align: middle;
			font-size: 1.4em;
		}


		.main__section__body__sub-title{
			opacity: .7;
			line-height: 1em;
		}

		.main__section__header{
			margin: 0;
			position: relative;
			margin-bottom: emRhythm(1);
		}

		.main__section__body{
			overflow: auto;
			height: 100%;

			.main__section__body__header{
				margin: emRhythm(1) 0 emRhythm(2) 0;
				font-size: 150%;
			}

			section{
				margin-top: 1em;
			}

			.photo{
				margin: 0 0 emRhythm(2) 0;

				.picture{
					max-width: none;
				}

				.picture__image{
					max-height: none;
					width: 100%;
				}

				.picture__caption{
					position: relative;
				}
			}

		}

		.main__section__body__footer{

		}

	}
}

.slideout-open{

	.slideout__toggle{
		display: none !important;
	}

	.slideout__toggle-close{
		display: inline-block !important;
	}
}



// https://github.com/mango/slideout#usage
.slideout__toggle{
	position: relative;
	cursor: pointer;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  background-color: white;
  padding: emRhythm(4) emRhythm(2);
  color: black;

  left: auto;
}

.slideout__menu__header{
	margin-bottom: emRhythm(2);
	font-size: 150%;
}

.slideout__menu__body{
	a{
		color: inherit;
	}
}

.slideout-panel {
  position:relative;
  z-index: 1;
  background: $background-color;
  padding: emRhythm(2);
}

.slideout-open,
.slideout-open body {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
